.pointer-events-none {
  pointer-events: none; /* so you can still click through */
}
.fixed {
  position: fixed;
}
.inset-0 {
  top: 0; right: 0; bottom: 0; left: 0;
}

.curstyle {
  opacity: 0.27;
}